{{define "forget-password.html"}}
{{template "header" .}}
<div class="main-wrapper">
    <div class="page-wrapper full-page">
        <div class="page-content d-flex align-items-center justify-content-center">
            <div class="row w-100 mx-0 auth-page">
                <div class="col-md-10 col-lg-8 col-xl-6 mx-auto">
                    <div class="card">
                        <div class="row p-3">
                            <div class="col-md-12 ps-md-0">
                                <div class="auth-form-wrapper px-4 py-5">
                                    <a href="#" class="nobleui-logo d-block mb-2">Go <span>Commerce</span></a>
                                    <h5 class="text-secondary fw-normal mb-4">If you forgot your password you can reset it here.</h5>
                                    <form class="forms-sample">
                                        <div class="mb-3">
                                            <label for="userEmail" class="form-label">Email address</label>
                                            <input type="email" required name="email" class="form-control" id="userEmail" placeholder="Your Existing Email">
                                        </div>
                                       
                                        <div>
                                            <button type="submit" class="btn btn-primary me-2 mb-2 mb-md-0 text-white">Send Reset Password Link</button>
                                        </div>
                                        <a href="/admin/login" class="d-block mt-4 text-primary">Login to your account</a>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{template "footer" .}}
{{end}}